/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: June 2024
*/

/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* Fonts */
  --ff-sans: "Roboto", sans-serif;
  /* Font Sizes */
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 2.5rem;
  --fs-700: 3.125rem;
  /* Primary Colors */
  --clr-tomato: hsl(4, 100%, 67%);
  --clr-pale-navy: hsl(235, 18%, 26%);
  --clr-dark-navy: hsl(234, 29%, 20%);
  /* Neutral Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(231, 7%, 60%);
  --clr-charcoal-gray: hsl(235, 18%, 26%);
  --clr-dark-slate-gray: hsl(234, 29%, 20%);
  
  /* Border radius */
  --br-soft: 8px;
  --br-med: 20px;
  

}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* BASE STYLES */
body {
  background-color: var(--clr-pale-navy);
  display: grid;
  place-content: center;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 1.5;  
}

.wrapper {
  /* max-width: 1160px; */
  margin-inline: auto;
}

.card {
  max-width: 58rem;
  background-color: var(--clr-white);
  border-radius: var(--br-med);
  overflow: hidden;
  display: grid;
}



.card-image {
  width: 100%;
}

.card-content {
  padding: 2.5rem 1.5rem;
}

.card-text > * {
  margin-bottom: 1.5rem;
}

.card-title {
  line-height: 1.05;
  text-wrap: balance;
  font-size: var(--fs-600);
}

@media (min-width: 60rem) {
  .card {
    padding: 1.5rem;
    grid-template-columns: 1fr auto;
  }
  .card picture {
    order: 2;
  }
}

@media (min-width: 60rem) {
  .card-title {
    font-size: var(--fs-700);
  }
}

.card-text ul {
  padding: 0;
  list-style: none;
}

.card-text__list-item {
  display: flex;
  gap: 1rem;
}

.card-text__list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.card-text__list-item::before {
  content: url("../images/icon-list.svg");
}

.subscribe-card {

}

.success-card {

}

.card-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

.form-group label {
  font-size: 0.875rem;
  font-weight: 700;
}

.email-input {
  padding: 0.9rem 1rem;
  border-radius: var(--br-soft);
  border-style: solid;
}


.button {
  border: none;
  color: var(--clr-white);
  background-color: var(--clr-dark-navy);
  padding: 1em 0.75em;
  min-height: 44px;
  border-radius: var(--br-soft);
  cursor: pointer;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;

  transition: 220ms all ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  .button {
    border: 2px solid currentcolor;
  }
}



.button:hover,
.button:focus-visible {
  
}